*{
    box-sizing: border-box;
    margin: 0px;
}


h1{
    margin: 0em auto 0em auto;
    text-align: center;
    font-size: 2.5em;
    background-color: tan;
    padding: 1em;
}


#container{
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: tan;
}

#inputForm{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 2em;
}

#radioBtns{
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}


#moveRadio{
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: left;
}




#buttons{
    grid-column-start: 2;
    grid-row-start: 2;
    margin: auto;
}


#firstNum, #secNum{
    line-height: 2em;
    text-align: center;
    padding: 0em;
    width: 5em;
    margin: .25em;
}

input[type=text]{
    font-size: 2em;
}


#currentResult{
    font-size: 2em;
    border-bottom: solid black 1px;
    margin-top: 10px;
    height: 2em;
}





h2{
    margin: 2em auto 1em auto;
}

li{
    list-style: none;
}



